<!DOCTYPE html>
<html lang="en-us">

  {% assign team = page %}
  {% assign teamslug = team.name | replace:' ', '_' | replace:"'", '' | replace:",", '' %}
  {% if team.year == 2017 %}{% assign teamslug = teamslug | replace:'-', '_' %}{% endif %}
  {% assign ghroot = site.ghpagesroot | append: '/ecce-app-challenge-' | append: team.year | append: '/' | append: teamslug %}
  {% assign githubroot = site.githuburl | append: '/ecce-app-challenge-' | append: team.year | append: '/tree/master/' | append: teamslug %}
  {% assign ghblobroot = site.githuburl | append: '/ecce-app-challenge-' | append: team.year | append: '/blob/master/' | append: teamslug %}

  {% include appchallenge_head.html %}

  <body>

    {% include appchallenge_page-header.html %}

    <section class="main-content">

      <a href="../../../../../" style="font-size:smaller;">Home</a> / <a href="../../../" style="font-size:smaller;">ECCE App Challenge {{ team.year }} Teams</a><hr />

      {% if team.winner %}<span style="font-weight:bold;">Esri Canada congratulates {{ team.name }}, the {% if team.winner == 1 %}winning team {% elsif team.winner == 2 %}1st Runner-Up {% elsif team.winner == 3 %}2nd Runner-Up {% endif %}of the App Challenge {{team.year}}!</span><hr />{% endif %}

      {% if team.appname %}<h1>App: {{ team.appname }}</h1>{% endif %}

      {{ content }}

      {% if team.videoid %}
      <h3>Video Presentation</h3>

      <p><iframe width="100%" height="480" src="https://www.youtube.com/embed/{{ team.videoid }}" frameborder="0" allow="autoplay; encrypted-media"></iframe></p>
      {% endif %}

      {% assign numdocs = team.docs | size %}
      {% if numdocs > 0 %}
        <h3>Documentation</h3>
        <ul>
        {% for doc in team.docs %}
          <li><a target="_blank" href="{% if doc.readme %}{% if doc.ishtml %}{{ ghroot }}/{{ doc.file }}{% else %}{{ githubroot }}{% endif %}{% else %}{% if doc.ismd %}{{ ghblobroot }}{% else %}{{ ghroot }}{% endif %}/docs/{{ doc.file }}{% endif %}">{{ doc.name }}</a>{% if doc.altfile %} | <a target="_blank" href="{{ ghroot }}/docs/{{ doc.altfile }}">{{ doc.altname }}</a>{% endif %}</li>
        {% endfor %}
        </ul>
      {% endif %}

      <h2>Team Members</h2>

      {% if team.photo %}
      <img style="max-width:100%; display:block; margin:0 auto; clear:both;" src="{{ ghroot }}/images/{{ team.photo }}" />
      {% endif %}

      {% for member in team.members %}
      <p style="clear:both;">
        {% if member.photo != "" %}{% if member.photo != nil %}
        <img src="{{ ghroot }}/images/{{ member.photo }}" style="max-height:150px; margin:0 .5em .25em 0; float: left;" />
        {% endif %}{% endif %}
        <strong>{{ member.name }}</strong>: {{ member.bio }}

      </p>
      {% endfor %}

      {% include page-footer.html %}

    </section>

  </body>
</html>
